<div class="col-md-6 col-md-offset-3">
<h1>Detalhes da Posição na Lista</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @listum.nome %></i>
</p>

<p>
  <strong>Pax:</strong>
  <%= @listum.pax %>
</p>

<p>
  <strong>Sentado:</strong>
  <%= @listum.sentado %>
</p>

<p>
  <strong>Sentado em:</strong>
  <%= @listum.sentado_em %>
</p>

<center>
<%= link_to 'Editar', edit_listum_path(@listum), class: "btn btn-large btn-success" %>
<%= link_to 'Voltar', lista_path, class: "btn btn-xs btn-primary" %>
</center>
</div>